#header.sixteen.columns
  %h1.remove-bottom WeLikeToTravel
  %h5 Version 0.1
.sixteen.columns
  %hr
.one-third.column
  %h3 What is WeLikeToTravel?
  %p WLTT is an application to track your location and share it with stuff that does things... blah blah blah. The quick brown fix jumped over the lazy dog.

%script{:src => "javascripts/tabs.js"}

